/* CUSTOM PROPERTIES */
:root {
    --hero-header-color:#b4d0e6;
    --black-color: #000000;
    --button-color: #0061fe;
    --white-color: #ffffff;
    --gray-color: #cdcdcd;
}
/* CUSTOM PROPERTIES */

/* RESET */
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
/* RESET */

img {
    max-width: 100%;
}

/* COMMON */
body {
    font-family: Open Arial, Helvetica, sans-serif;
}
/* COMMON */

/* UTILITIES */
.large-container {
    width: 80%;
    max-width: 1000px;
    margin: 0 auto;
    border: 1px solid var(--black-color);
}

.flex {
    display: flex;
}

.col-20 {
    width: 20%;
}

.col-30 {
    width: 30%;
}

.col-40 {
    width: 40%;
}

.col-60 {
    width: 60%;
}

.col-70 {
    width: 70%;
}

.col-100 {
    width: 100%;

}

[class^="col-"] {
    border: 3px solid var(--black-color);
}

.py-50 {
    padding-top: 50px;
    padding-bottom: 50px;
}

.py-20 {
    padding-top: 20px;
}

.mb-30 {
    margin-bottom: 30px;
}

.justify-between {
    justify-content: space-between;
}

.wrap {
    flex-wrap: wrap;
}

.list {
    color: var(--white-color);
    list-style: none;
}
/* UTILITIES */

/* header */
.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 80px;
    background-color: var(--white-color);
    padding: 0 30px;
}
.header ul {
    list-style: none;
    display: flex;
    gap: 20px;
}
/* header */

/* main */

.container {
    width: 70%;
    max-width: 900px;
    margin: 0 auto;
}

/* hero header */
.hero {
    background-color: var(--hero-header-color);
    padding: 40px 0;
}
/* hero header */

/* plans section */
/* plans section */

/* partner section */
/* partner section */

/* operation section */
/* operation section */

/* cta section */
/* cta section */

/* main */

/* footer */
.footer {
    padding-top: 80px;
    padding-bottom: 50px;
    background-color: var(--black-color);
}

.footer .divider {
    margin: 40px 0 20px;
    width: 8%;
}
/* footer */